*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#paint-area{
  --size:300px;
  width: var(--size);
  height: var(--size);
}

#pallete{
  display: flex;
}

.color {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}